<div class="" id="viewAptContainer">
  <h2>View Appointments</h2>
</div>
<div class="row">
  <div class="col-md-4" style="padding: 1.5em;">
    <div>
      <button [routerLink]="['/schedule']" class="btn" id="scheduleBtn" style="background-color: rgb(78, 17, 136); color:white;">Schedule Appointment</button>
    </div>
    <div>
      <div *ngIf="events.length > 0">
          <div class="row" *ngFor="let event of events" style="margin-top: 10px;">
            <div class="text-left">
              <hr>
              {{event.title}}, {{event.start}} - {{event.end}}, {{event.location}} 
            </div>
            <div class="text-right" style="width:90%;">
              <button class="btn" (click)="cancelAppointment(event.id)" style="background-color: rgb(214, 71, 52); padding: 4px;">Cancel</button>
            </div>
          </div>

      </div>
      <div *ngIf="events.length == 0" class="row">
        <p>You have no scheduled apointments at this time.</p>
      </div>
    </div>

    <hr>
  </div>
  <!-- Change header for this view -->
  <div class="col-md-8" style="padding: 2em; border: 1px solid black">
    <app-schedule
      [events]="events"
      [eventClicked]="eventClicked"
      [notifier]="childNotifier"
    ></app-schedule>
  </div>
</div>
