#contentContainer {
    padding-top: 1em;
    padding-right: 3%;
    padding-bottom: 1em;
    padding-left: 1em;
    min-height:90vh;
}

#entry {
    background-image: url("https://pbs.twimg.com/media/EU3DTpiUYAEGu1-.jpg");
    min-height: 100vh; /*change to match background image height*/
    background-repeat: repeat-x;
    /* background-color: #424242; */
}
