<div style="margin-top:1em;">
    <h2>Dashboard</h2>
</div>

<div>
    <!-- <label for="cars">Available Appointments:</label>
    <select name="apts" id="apts">
        <option value="1">9:00 - 10:00</option>
        <option value="2">10:00 - 11:00</option>
        <option value="3">11:00 - 12:00</option>
        <option value="4">1:00 - 2:00</option>
        <option value="4">2:00 - 3:00</option>
    </select>

    <ul>
        <li *ngFor="let appointment of appointments">{{appointment.AdvisorID}}</li>
    </ul> -->

    <!-- <modal-test></modal-test> -->

    <!-- <mwl-calendar-week-view [viewDate]="viewDate" [daysInWeek]="daysInWeek">
    </mwl-calendar-week-view> -->

</div>