<div class="jumbotron text-center">
  <h1>MEAN Auth Tutorial App</h1>
  <p class="lead">Welcome to this generic MEAN authentication application! </p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register Now</a>
    <span style="padding:1em;">or</span>
    <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Title 1</h3>
    <p>Paragraph 1</p>
  </div>
  <div class="col-md-4">
      <h3>Title 2</h3>
      <p>Paragraph 2</p>
  </div>
  <div class="col-md-4">
      <h3>Title 3</h3>
      <p>Paragraph 3</p>
  </div>
</div>