<!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark default">
    <a class="navbar-brand" [routerLink]="['/']">Toro Scheduler</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto navbar-left">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
          <li *ngIf="authService.loggedIn()" class="nav-item active">
              <a class="nav-link" [routerLink]="['/dashboard']">Dashboard <span class="sr-only">(current)</span></a>
          </li>
          <li *ngIf="authService.loggedIn()" class="nav-item active">
              <a class="nav-link" [routerLink]="['/profile']">Profile <span class="sr-only">(current)</span></a>
          </li>
          <li *ngIf="!authService.loggedIn()" class="nav-item active">
              <a class="nav-link" [routerLink]="['/login']">Login <span class="sr-only">(current)</span></a>
          </li>
          <li *ngIf="!authService.loggedIn()" class="nav-item active">
              <a class="nav-link" [routerLink]="['/register']">Register <span class="sr-only">(current)</span></a>
          </li>
          <li *ngIf="authService.loggedIn()" class="nav-item">
              <a class="nav-link" (click)="onLogoutClick()" href="#">Logout <span class="sr-only">(current)</span></a>
          </li>
      </ul>
    </div>
</nav> -->
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="" href="\">
          <img width="150px" src="https://www.csudh.edu/Assets/csudh-sites/brand/images/2018-06-18-csudh-logo-mark-on-white.png" />
          <div class="navbar-brand" id="toroHeader">Toro Scheduler</div>
        </a>
        <form class="d-flex">
            <!-- Register will likey be removed if using google login-->
            <button *ngIf="!authService.loggedIn()" class="btn btn-outline-success me-2" type="button" [routerLink]="['/register']">Register</button>
            <button *ngIf="!authService.loggedIn()" class="btn btn-outline-dark me-2" type="button" [routerLink]="['/login']">Login</button>

            <div *ngIf="authService.loggedIn()" id="userName">
              <i class="fas fa-user-circle"></i> 
              {{lastname}}, {{firstname}}
            </div>
            <button *ngIf="authService.loggedIn()" class="btn btn-outline-dark me-2" type="button" (click)="onLogoutClick()">Logout</button>
        </form>
    </div>
  </nav>