<div *ngIf="data.view == 'make'">
  <h2 mat-dialog-title>Appointments</h2>
  <mat-dialog-content class="mat-typography">
  <p>Hello {{data.name}}</p>
  <div class="">
    <strong *ngIf="data.x == '1'">Option 1</strong>
    <strong *ngIf="data.x == '2'">Option 2</strong>
  </div>

  <!-- <mat-form-field>
      <mat-label>Favorite Animal</mat-label>
      <input matInput [(ngModel)]="data.animal">
    </mat-form-field> -->

  <label for="room">Room # </label>
  <input [(ngModel)]="data.room" id="room" type="text"/>
  <input [(ngModel)]="data.field" id="field" type="text"/>

  <p>Appointments</p>
  <ul>
      <li *ngFor="let apt of data.appointments">
          {{ apt }}
      </li>
  </ul>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <!-- it would appear I can send all items assiciated with data this way! Hell Yea -->
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Confirm</button>
  </mat-dialog-actions>
</div>

<!-- View Appointment -->
<div *ngIf="data.view == 'view'">
  <h3>{{data.title}}</h3>
  <p>Start time: {{data.start}}</p>
  <p>End time: {{data.end}}</p>
  <p>Location: {{data.location}}</p>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</div>

<!-- View Appointment -->
<div *ngIf="data.view == 'schedule'">
  <h3>{{data.title}}</h3>
  <p>Start time: {{data.start}}</p>
  <p>End time: {{data.end}}</p>
  <p>Location: {{data.location}}</p>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button><!--returns empty string -->
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Schedule</button><!--returns empty string or null-->
  </mat-dialog-actions>
  <!--cicking outside of modal closes it and returns undefined-->
</div>

<!-- View Appointment -->
<div *ngIf="data.view == 'cancel'">
  <h3>{{data.title}}</h3>
  <p>Start time: {{data.start}}</p>
  <p>End time: {{data.end}}</p>
  <p>Location: {{data.location}}</p>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button><!--returns empty string -->
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Cancel Appointment</button><!--returns empty string or null-->
  </mat-dialog-actions>
  <!--cicking outside of modal closes it and returns undefined-->
</div>