<div class="" id="viewAptContainer">
  <h2>Schedule an Appointment</h2>
</div>
<div class="row">
  <div class="col-md-4" style="padding: 1.5em;">

    <label for="professors">Faculty: </label>
    <select id="professors" [(ngModel)]="selectedFaculty" (change)="facultyChange()">
      <option value=""></option>
      <option *ngFor="let fac of faculty" 
          [value]="fac.FacultyID" 
      >
        {{fac.LastName}}, {{fac.FirstName}}
      </option>
    </select>

    <div *ngIf="!noApts && selectedFaculty.length > 0, else elseBlock">
      <br> <!--Change this to a row-->
      <label for="aptDate">Date: </label>
      <select id="aptDate" [(ngModel)]="selectedDay" (change)="dateChange()">
        <option value=""></option>
        <option *ngFor="let date of availableDatesSet" 
            [value]="date"
        >
          {{date}}
        </option>
      </select>
  
      <br> <!--Change this to a row-->
      <label for="aptTime">Time: </label>
      <select id="aptTime" [(ngModel)]="selectedTime" (change)="timeChange()">
        <option value=""></option>
        <option *ngFor="let time of availableTimes" 
            [value]="time"
        >
          {{time}}
        </option>
      </select>
      <!-- <button *ngIf="selectedTime">Schedule</button> -->

      <hr>

      <!-- Could also loop through dates and diplay below -->
      <div *ngFor="let dets of aptDetails">
        <p>{{dets.faculty}} - {{dets.location}} - {{dets.date}} - {{dets.startTime}} - {{dets.duration}} <button (click)="scheduleApt(dets.id)">Add</button></p>
        <hr>
      </div>

    </div>
    <ng-template #elseBlock><p>No Appointments Available.</p></ng-template>
    
    <hr>
  </div>
  <!-- Change header for this view -->
  <div class="col-md-8" style="padding: 2em; border: 1px solid black">
    <app-schedule
      [events]="events"
      [eventClicked]="eventClicked"
      [notifier]="childNotifier"
    ></app-schedule>
  </div>
</div>
